@import "presentation/styles/variables";

$filters_width: 18.5rem;
$basket_width: 18.5rem;

.products {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__overlay {
    z-index: 8;
    transition: $transition_visibility;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color_blue, 0.2);
    backdrop-filter: blur(0.2rem);

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include media_up($breakpoint_minibook) {
      display: none;
    }
  }

  &__filters {
    z-index: 10;
    transition: $transition_visibility;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: $header_height_mobile;
    width: 100%;
    max-width: $filters_width;
    height: calc(100vh - $header_height_mobile);
    display: block;
    overflow: hidden auto;
    padding: 1rem;
    background: $color_light;
    box-shadow: $boxshadow_base;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include media_up($breakpoint_tablet) {
      top: $header_height_desktop;
      height: calc(100vh - $header_height_desktop);
    }

    @include media_up($breakpoint_minibook) {
      height: auto;
      overflow: initial;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      opacity: 1;
      visibility: visible;
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include media_up($breakpoint_tablet) {
      padding: 0 1rem;
    }

    @include media_up($breakpoint_minibook) {
      width: calc(100% - $filters_width);
    }

    @include media_up($breakpoint_laptop) {
      width: calc(100% - $filters_width - $basket_width);
    }

    &__title {
      width: 100%;
      font-size: 1.25rem;
      line-height: 1.625rem;
      font-weight: $font_weight_regular;
      color: $color_gray_maintitle;
      margin: 0 0 1rem;
    }
  }

  &__basket {
    z-index: 9;
    transition: $transition_visibility;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 100%;
    max-width: $basket_width;
    background: palevioletred;
    padding: 2rem;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include media_up($breakpoint_tablet) {
      top: -2.5rem;
      right: 0;
    }

    @include media_up($breakpoint_laptop) {
      opacity: 1;
      visibility: visible;
      position: relative;
      top: 0;
    }
  }
}
