@import "presentation/styles/variables";

.products {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__filters {
    z-index: 2;
    transition: $transition_visibility;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -1rem;
    top: -2rem;
    width: 100%;
    max-width: 18.5rem;
    background: palegoldenrod;
    padding: 2rem;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include media_up($breakpoint_tablet) {
      opacity: 1;
      visibility: visible;
      position: relative;
      left: 0;
      top: 0;
    }
  }

  &__content {
    max-width: 100%;
    flex-grow: 1;

    @include media_up($breakpoint_tablet) {
      padding: 0 1rem;
    }

    &__title {
      width: 100%;
      font-size: 1.25rem;
      line-height: 1.625rem;
      font-weight: $font_weight_regular;
      color: $color_gray_maintitle;
      margin: 0 0 1rem;
    }
  }

  &__basket {
    z-index: 1;
    transition: $transition_visibility;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 100%;
    max-width: 18.5rem;
    background: palevioletred;
    padding: 2rem;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include media_up($breakpoint_tablet) {
      top: -2.5rem;
      right: 0;
    }

    @include media_up($breakpoint_laptop) {
      opacity: 1;
      visibility: visible;
      position: relative;
      top: 0;
    }
  }
}
