// breakpoints
$breakpoint_min: 20rem; // 320px
$breakpoint_mobile: 34rem; // 544px
$breakpoint_tablet: 48rem; // 768px
$breakpoint_minibook: 64rem; // 1024px
$breakpoint_laptop: 77rem; // 1232px
$breakpoint_pc: 90rem; // 1440px
$breakpoint_max: 240rem; // 3840px

// colors
$color_black: #000;
$color_white: #fff;
$color_dark: #525252;
$color_dark_producttitle: #191919;
$color_light: #fafafa;
$color_light_secondary: #fefefe;
$color_blue: #1ea4ce;
$color_blue_dark: #147594;
$color_blue_light: #f2f0fd;
$color_gray_maintitle: #6f6f6f;
$color_purple: #5d3ebc;
$color_purple_light: #f3f0fe;
$color_theme_green: #32c682;
$color_theme_red: #ff5549;
$color_theme_yellow: #eebf31;
$color_theme_blue: #26c0d3;

// transitions
$transition_base: all 0.25s ease-in-out;
$transition_transform: transform 0.25s linear;
$transition_opacity: opacity 0.25s ease-in-out;
$transition_visibility: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
$transition_background: background 0.25s ease-in-out;
$transition_boxshadow: box-shadow 0.25s ease-in-out;
$transition_border: border 0.25s ease-in-out, border-radius 0.25s ease-in-out;
$transition_color: color 0.25s ease-in-out;
$transition_width: width 0.25s ease-in-out;
$transition_height: height 0.25s ease-in-out;
$transition_left: left 0.25s ease-in-out;
$transition_top: top 0.25s ease-in-out;
$transition_right: right 0.25s ease-in-out;
$transition_bottom: bottom 0.25s ease-in-out;

// typography
$font_family_base: "Open Sans", sans-serif;
$font_size_base: 0.875rem;
$font_lineheight_base: 1.285;
$font_weight_base: 400;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semibold: 600;
$font_weight_bold: 700;
$font_weight_extrabold: 800;

// constants
$header_height_mobile: 4rem;
$header_height_desktop: 4.79rem;

// mixins
@import "mixins";
