// breakpoints
$breakpoint_min: 20rem; // 320px
$breakpoint_mobile: 36rem; // 576px
$breakpoint_tablet: 48rem; // 768px
$breakpoint_minibook: 64rem; // 1024px
$breakpoint_laptop: 77.5rem; // 1240px
$breakpoint_pc: 84rem; // 1344px
$breakpoint_max: 240rem; // 3840px

// mixins
@import "mixins";
