@import "variables";

// Reset: begin
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: $breakpoint_max;
  min-width: 20rem;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  color: $color_dark;
  background: $color_light;
  font-family: $font_family_base;
  font-size: $font_size_base;
  line-height: $font_lineheight_base;
  font-weight: $font_weight_base;
}

a {
  user-select: none;
  color: inherit;
  text-decoration: none;
}

button {
  user-select: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  padding: 0;
  border: none;

  &[disabled] {
    pointer-events: none;
  }
}

img {
  font-size: 0.5rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
option {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

b,
strong {
  font-weight: $font_weight_semibold;
}

*::-webkit-scrollbar {
  @include media_up($breakpoint_tablet) {
    height: 0.3rem;
    width: 0.3rem;
  }
}

*::-webkit-scrollbar-track {
  @include media_up($breakpoint_tablet) {
    background: rgba($color_black, 0.04);
  }
}

*::-webkit-scrollbar-thumb {
  @include media_up($breakpoint_tablet) {
    background: rgba($color_black, 0.08);
    cursor: pointer;
  }
}

div,
nav,
ul {
  @include media_up($breakpoint_tablet) {
    scrollbar-color: rgba($color_black, 0.08) rgba($color_black, 0.04);
    scrollbar-width: thin;
  }
}

*::selection {
  color: $color_white;
  background: $color_black;
}
// Reset: end
