@import "presentation/styles/variables";

.sortorder {
  transition: $transition_opacity;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &--loading {
    opacity: 0.25;
    pointer-events: none;
  }

  &__title {
    width: 100%;
    font-size: 0.8125rem;
    font-weight: $font_weight_semibold;
    color: $color_gray_filtertitle;
    margin: 0 0 0.75rem;
  }

  &__content {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.125rem;
    background: $color_white;
    box-shadow: $boxshadow_base;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__list {
    width: 100%;
    padding: 0.0625rem;
    max-height: 10rem;
    overflow: hidden auto;
    scrollbar-color: $color_scrollbar_filter transparent;

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $color_scrollbar_filter;
      border-radius: 1rem;
    }

    &__item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      &:not(:last-child) {
        margin: 0 0 1rem;
      }

      &__button {
        transition: $transition_border;
        width: 1.375rem;
        height: 1.375rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: 0.125rem solid $color_gray_filterradio;
        border-radius: 2rem;
        background: $color_white;
        margin: 0 0.75rem 0 0;

        &:hover,
        &--selected {
          border-color: $color_blue;
        }

        &__icon {
          width: 1rem;
          height: 1rem;
          color: $color_blue;
        }
      }

      &__text {
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: $font_weight_regular;
        color: $color_dark;
      }
    }
  }
}
