@import "presentation/styles/variables";

.items {
  transition: $transition_opacity;
  width: 100%;
  min-height: 16rem;
  padding: 1.25rem 1.25rem 0;
  background: $color_white;
  border-radius: 0.125rem;
  box-shadow: $boxshadow_base;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &--loading {
    opacity: 0.25;
    pointer-events: none;
  }

  &__single {
    position: relative;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(50% - 0.625rem);
    margin-bottom: 1.25rem;
    padding-bottom: 1.375rem;

    @include media_up($breakpoint_mobile) {
      width: calc(25% - 1.125rem);
    }

    &--placeholder {
      min-height: 10rem;
      background: $color_blue_light;
      filter: brightness(0.99);
      animation: animation_item_loading 1s ease-in-out 0s infinite;
      border-radius: 0.25rem;

      @keyframes animation_item_loading {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &--failure,
    &--nodata {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      &__icon {
        width: 2rem;
        height: 2rem;
        margin: 0 auto 0.5rem;
      }

      &__message {
        font-size: 0.875rem;
        font-weight: $font_weight_semibold;
      }
    }

    &--failure {
      &__icon {
        color: $color_theme_red;
      }

      &__message {
        color: $color_theme_red;
      }
    }

    &--nodata {
      &__icon {
        color: $color_blue;
      }

      &__message {
        color: $color_blue;
      }
    }

    &:nth-child(2n) {
      margin-left: 1.25rem;

      @include media_up($breakpoint_mobile) {
        margin-left: 1.5rem;
      }
    }

    &:nth-child(4n - 1) {
      @include media_up($breakpoint_mobile) {
        margin-left: 1.5rem;
      }
    }

    &__media {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      margin: 0 0 0.5rem;
      background: $color_light_secondary;
      border: 0.0735rem solid $color_purple_light;
      border-radius: 0.75rem;

      &::before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 1rem;
        background: $color_light_secondary;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
      }

      &__image {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto;
      }
    }

    $colors_repeater: hotpink, red, orange, yellow, green, purple, turquoise, indigo, violet;
    @for $i from 1 through 16 {
      $randomColor: lighten(nth($colors_repeater, random(length($colors_repeater))), 20%);

      &:nth-child(#{length($colors_repeater)}n + #{$i}) &__media {
        &::before {
          background: $randomColor;
          background: linear-gradient(to right top, lighten($randomColor, 2%), lighten($randomColor, 10%));
        }
      }
    }

    &__price {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: $font_weight_bold;
      color: $color_blue;
      margin: 0 0 0.25rem;

      &__currency {
        font-weight: $font_weight_regular;
        margin-right: 0.3rem;
      }
    }

    &__title {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: $font_weight_semibold;
      color: $color_dark_producttitle;
      margin: 0 0 0.5rem;
    }

    &__button {
      transition: $transition_background;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.375rem;
      color: $color_white;
      background: $color_blue;
      border-radius: 0.125rem;
      font-size: 0.75rem;
      font-weight: $font_weight_semibold;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $color_blue_dark;
      }
    }
  }
}
